* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: rgb(33, 32, 41);
}

.container {
  color: white;
  margin: 6rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}

.movie__card {
  width: 100%;
}

.movie__images__slider {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  transition: 0.75s ease;
}

.movie__image {
  max-width: 100%;
  height: auto;
}

.movie__form {
  display: flex;
}

.hint__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(106, 116, 255, 0.2);
  border: 1px rgb(106, 116, 255) solid;
  padding: 1rem 3rem;
  margin: 1.5rem 0;
  border-radius: 12px;
}

.hint__card > p {
  align-self: flex-start;
  padding: 0.25rem 0;
}

.hints > p {
  align-self: flex-start;
  padding: 0.25rem 0;
}

.btn {
  background-color: rgb(106, 116, 255);
  outline: none;
  border: none;
  font-size: medium;
  font-weight: bold;
  padding: 1rem 3rem;
  cursor: pointer;
  color: white;
  border-radius: 8px;
  margin: 1rem 0.5rem;
  transition: 0.5s ease;
}

.btn:hover {
  background-color: rgb(68, 75, 165);
}

.input {
  width: 100%;
  outline: none;
  color: white;
  background-color: rgb(33, 32, 41);
  border: 1px rgb(106, 116, 255) solid;
  font-size: medium;
  padding: 1rem 0.75rem;
  border-radius: 8px;
  margin: 1rem 0.5rem;
  transition: 0.5s ease;
}

.input:hover {
  background-color: rgb(23, 23, 29);
}

.input:active {
  background-color: rgb(23, 23, 29);
}

.input:focus {
  background-color: rgb(23, 23, 29);
}

.lobby_guesses {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: rgb(106, 116, 255, 0.2);
  border: 1px rgb(106, 116, 255) solid;
  padding: 1rem 3rem;
  margin: 1.5rem 0;
  border-radius: 12px;
}

.lobby_guesses > span {
  align-self: flex-start;
  padding: 0.25rem 0;
}

.fail {
  color: red;
  width: 100%;
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}

.success {
  color: green;
  width: 100%;
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}

.answer {
  width: 100%;
  text-align: center;
}

.time__card {
  background-color: rgb(106, 116, 255, 0.2);
  padding: 1rem 2.25rem;
  border: 1px solid rgb(106, 116, 255);
  font-size: large;
  position: fixed;
  border-radius: 12px;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  margin-top: 2rem;
}
